//<QUANTITY>
// Снипет (HTML): qa
.quantity-btn-group .quantity, .shopping-cart-list-area .quantity {
    margin-right: 10px;
	width: 150px;
	height: 65px;
	display: flex;
	border: 1px solid #dddddd5d;
	// .quantity__button
	&__button {
		flex: 0 0 50px;
		position: relative;
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			background-color: #a6a6a6;
			width: 9px;
			height: 1px;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before,
				&::after {
					background-color: white;
				}
			}
		}
		// .quantity__button_plus
		&_plus {
			&::before {
				transform: rotate(-90deg);
			}
		}
		// .quantity__button_minus
		&_minus {
		}
	}
	// .quantity__input
	&__input {
		flex: 1 1 auto;
		input {
            &:focus-visible{
                outline: none;
            }
			height: 100%;
			color: black;
			font-size: 20px;
			width: 100%;
			text-align: center;
		}
	}
}
.shopping-cart-list-area .quantity{
    margin-right: 0;
    width: 150px;
	height: 50px;
    & .quantity__input input{
        
    }
}