.single{
    &__block{
        display: flex;
        flex-wrap: wrap;
        padding: 100px 0;
        @media (max-width: $tablet) {
            padding: 50px 0 50px;
        }
    }
    &__slider{
        flex: 0 0 58.333333%;
    max-width: 58.333333%;
      
    width: 100%;
    min-height: 1px;
    @media (max-width: $mobile) {
        flex: 0 0 100%;
        max-width: 100%;
    }
    }
    &__content{
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
        padding-left: 20px;
        font-family: "intro-book";
        color: white;
        @media (max-width: $mobile) {
            flex: 0 0 100%;
            max-width: 100%;
            margin-top: 50px;
            padding-left: 0;
        }
    }
}
.slick-slider .slick-slide > div > div, .slick-slider .slick-slide > div > figure {
    vertical-align: middle;
}

.product-name{
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 10px;
}
.single-product-details .prices-group .old-price {
    font-size: 1.3rem;
    color: #8d8d8d;
}
    .single-product-details .prices-group .price {
        font-size: 1.6rem;
    }
    .prices-stock-status{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0;
    }
    .product-desc{
        margin-bottom: 15px;
        line-height: 1.8;
    }
.quantity-btn-group{
    display: flex;
    align-items: center;
    @media (max-width: 1060px) {
        flex-direction: column;
        align-items: flex-start;
    }
    @media (max-width: $mobile) {
        flex-direction: row;
    }
    
    justify-content: space-between;
    margin-top: 50px;
    @media (max-width: $mobileSmall) {
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-start;
    }
}

.single-product-details .configurable-item {
    margin-bottom: 20px; }
    .single-product-details .configurable-item:last-child {
      margin-bottom: 0; }
    .single-product-details .configurable-item .configurable-name {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 1.1rem;
      margin-bottom: 8px; }
      .single-product-details .configurable-item .configurable-name b {
  
        margin-left: 5px;
        font-size: 1.3rem; }
    .single-product-details .configurable-item .configurable-list li {
        border: 1px solid #dddddd5d;
        color: #8d8d8d;
      cursor: pointer;
      
      height: 40px;
      padding: 3px;
      font-size: 1.3rem;
      display: block;
      text-align: center;
      transition: 0.3s ease-out;
      margin-right: 5px;
      overflow: hidden;
      width: 40px; }
      .single-product-details .configurable-item .configurable-list{
        display: flex;
      }
      .single-product-details .configurable-item .configurable-list li.active, .single-product-details .configurable-item .configurable-list li:hover {
        border-color: $brand;
        color: $brand; }
      .single-product-details .configurable-item .configurable-list li span {
        line-height: 30px;
        display: block; }

        .single-product-details .list-btn-group{
            box-sizing: content-box;
        }
        .single-product-details .quantity-btn-group .list-btn-group {
            display: flex;
            @media (max-width: 1060px) {
                margin-top: 20px;
            }
            @media (max-width: $mobile) {
                margin-top: 0;
            }
            @media (max-width: $mobileSmall) {
            margin-top: 20px;
            width: 100%;
           }
            & .btn{
                background-color: white;
                 width: 100%;
                 color: black;
                 &:hover{
                    color: white;
                background-color: $brand;
            }
            }
           
            
            
        }

        .see-also{
            padding-bottom: 100px;
        }